<html>
<head>
  <title>Design program</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<!-- CSS implementation -->
<style>

  /*background image setting*/
  body
  {
    background-image: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.2) ),url(image/wallpaper4.jpg);
    background-size: 100% 100%;
  }

  .btn-success
  {
    position: fixed;
    bottom: 20px;
    right: 5px;
  }

  /* Thick white border */
  hr.white_line {
    border: 1px solid white;
  }


  /* debug color setting
  #debug,#debug-1,#debug-2,#debug-3,#debug-4,#debug-5,#debug-6,#debug-7,#debug-8,#debug-9,#debug-10,#debug-11,#debug-12,#debug-13,#debug-14,#debug-15,#debug-16
  {
    color:white;
  }
  */

  #debug
  {
    color:white;
  }

</style>

<!-- Top of the website -->
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="index_home.html">My Fitness Distributer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="index_home.html">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index_about.html">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index_login.html">Log In</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>  


<!-- Message -->
<p style=color:white>Design Your Own Workout!!!</p>

<!-- Code that collect the data and encapsulate them to a Javascript Object to server -->

<div class="form-group row">
  <div class="col">
    <label for="name-input" class="col-2 col-form-label" style="color:white">*Name:</label>
    <div class="col-10">
      <input class="form-control workout-name" type="text" placeholder="Enter Workout name..." id="name-input">
    </div>
  </div>
  <div class="col">
      <label for="structure-input" class="col-2 col-form-label" style="color:white">Structure:</label>
    <div class="col-10">
      <select class="form-control workout-type" id="structure-input">
        <option value="Program">Choose Structure---</option>
        <option>Program</option>
        <option>Routine</option>
      </select>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-1"></div> 
  <div class="col">
    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#program-meta" role="button" aria-expanded="false" aria-controls="program-meta">
        More Exercise General Setting
      </a>
    </p>
  </div>
</div>

<div class="collapse" id="program-meta">
  <div class="container bg-light rounded" style="padding: 2rem">
      <div class="form-row">
        <div class="col">
          <label for="style-input">Style:</label>
          <input type="text" class="form-control workout-styles" id="style-input" placeholder="Enter style...">
        </div>
        <div class="col">
          <label for="level-input">Level:</label>
          <select class="form-control workout-level" id="level-input">
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Advance</option>
          </select>
        </div>
        <div class="col">
          <label for="length-input">Length:</label>
          <input type="text" class="form-control workout-length" id="length-input" placeholder="Enter length...">
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col">
          <label for="goal-input">Goal:</label>
          <input type="text" class="form-control workout-goals" id="goal-input" placeholder="Enter goal...">
        </div>
      </div>
      <br>
      <div class="form-group">
        <label for="info-input">General Info:</label>
        <textarea class="form-control workout-desc" rows="5" id="info-input" placeholder="Enter info..."></textarea>
      </div>
  </div> 
</div>

<div class="container bg-light rounded text-dark" style="padding: 2rem">
  <div class="cycle-container">
    <div class="form-group row">
      <div class="col-1">
        <label for="cycleName-input" class="col-4 col-form-label">Cycle:</label>
      </div>
      <div class="col-3">
        <input class="form-control cycle-name" type="text" placeholder="Enter Description..." id="cycleName-input">
      </div>
      <button onclick="document.getElementById('cycleName-input').value=''" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="col-3">
      </div>
    </div>
    <div class="day-container">
      <div class="form-group row">
        <div class="col-1"></div>
        <div class="col-1">
          <label for="dayName-input" class="col-2 col-form-label">Day:</label>
        </div>
        <div class="col-3">
          <input class="form-control day-name" type="text" placeholder="Enter Description..." id="dayName-input">
        </div>
        <button onclick="document.getElementById('dayName-input').value=''" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="col-3">
        </div>
      </div>
      <div class="exercise-container">
        <div class="form-group row">
          <div class="col-2"></div>
          <div class="col-1">
            <label for="exerciseName-input" class="col-form-label">*Exercise:</label>
          </div>
          <div class="col-4">
            <input class="form-control exercise-name" type="text" placeholder="Enter name..." id="exerciseName-input">
          </div>
          <button onclick="document.getElementById('exerciseName-input').value=''" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="col-3">
          </div>
        </div>    
        <div class="form-group row">
          <div class="col-3"></div>
          <div class="col-1">
            <label for="order-input" class="col-form-label" style= "text-indent:1em">Order:</label>
          </div>
          <div class="col-3">
            <input class="form-control exercise-order" type="text" placeholder="Enter number..." id="order-input">
          </div>
          <div class="col-1">
            <label for="type-input" class="col-2 col-form-label">Type:</label>
          </div>
          <div class="col-3">
            <select class="form-control exercise-type" id="type-input">
              <option value="Normal">Choose type---</option>
              <option value="Warmup">Warm Up</option>
              <option value="Normal">Workout Set</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3"></div>
          <div class="col-1">
            <label for="exerciseLength-input" class="col-2 col-form-label">*Length:</label>
          </div>
          <div class="col-3">
            <input class="form-control exercise-length" type="text" placeholder="Enter Data..." id="exerciseLength-input">
          </div>
          <div class="col-1">
            <label for="weight-input" class="col-2 col-form-label">*Weight:</label>
          </div>
          <div class="col-3">
            <input class="form-control exercise-weight" type="text" placeholder="Enter Weight..." id="weight-input">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3"></div>
          <div class="col">
            <p>
              <a class="btn btn-primary" data-toggle="collapse" href="#exercise-meta" role="button" aria-expanded="false" aria-controls="exercise-meta">
                More Exercise Setting
              </a>
            </p>
            <div class="collapse" id="exercise-meta">
              <div class="card card-body">
                  <div class="form-row">
                    <div class="col">
                      <label for="rpe-input">RPE:</label>
                      <input type="text" class="form-control exercise-rpe" id="rpe-input" placeholder="Enter RPE Data...">
                    </div>
                    <div class="col">
                      <label for="note-input">Note:</label>
                      <input type="text" class="form-control exercise-note" id="note-input" placeholder="Enter Exercise note...">
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-2"></div>
        <div class="col">
          <button onclick="addExercise(this)" class="btn btn-secondary">(+)Exercise</button>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-1"></div>
      <div class="col">
        <button onclick="addDay(this)" class="btn btn-secondary">(+)Day</button>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <button onclick="addCycle(this)" class="btn btn-secondary">(+)Cycle</button>
    </div>
  </div>
</div>


<button type="button" class="btn btn-success" onclick="collect_workout()">
  Collect workout data!
</button>
<br>

<button type="button" class="btn btn-success" onclick="send_workout(collect_workout())">
  Send workout data!
</button>
<br>

<!-- Exporting option -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal">
  Export
</button>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Exporting to pdf...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        We will record the selection of workout program. Please click "Proceeding to export page" to finish the progress...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary"> <a href="#" style="color: #ffffff" >Proceeding to export page</a></button>
      </div>
    </div>
  </div>
</div>

  <!-- JavaScript Implementation -->
  <script type="text/javascript" src="./js/addFunc.js"></script>
  <script type="text/javascript" src="./js/dataFunc.js"></script>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
<script>
  
</script>
</html>
