<html>
<head>
  <title>Design program</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://www.jqueryscript.net/css/jquerysctipttop.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tagsinput.css') }}" >
</head>

<!-- CSS implementation -->
<style>

  /*background image setting*/
  body
  {
    background-image: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.2) ),url(static/image/wallpaper4.jpg);
    background-size: 100% 100%;
  }

  .btn-success
  {
    position: fixed;
    bottom: 20px;
    right: 5px;
  }

  /* Thick white border */
  hr.white_line {
    border: 1px solid white;
  }


  /* debug color setting
  #debug,#debug-1,#debug-2,#debug-3,#debug-4,#debug-5,#debug-6,#debug-7,#debug-8,#debug-9,#debug-10,#debug-11,#debug-12,#debug-13,#debug-14,#debug-15,#debug-16
  {
    color:white;
  }
  */

  #debug
  {
    color:white;
  }

</style>

<!-- Top of the website -->
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/">My Fitness Distributer</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarToggler">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<li class="nav-item active">
			<a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/index_how_to">How To</a>
		</li>
		<li>
			{% if not session["user"] %}
			<a class="nav-link" href="/login">Log In</a>
			{% else %}
			<a class="nav-link" href = "/logout">Log Out</a>
			{% endif %}
		</li>
		</ul>
		{% if session["user"] %}
		<span class="navbar-text" style = "color:white">Welcome, {{ session["user"]["nickname"] }}!</span>
		{% endif %}
	</div> 
</nav>

<!-- Message -->
<center><h2 style=color:white>Design Your Own Workout!!!</h2></center>

<!-- Code that collect the data and encapsulate them to a Javascript Object to server -->

<div class="form-group row">
  <div class="col">
    <label for="name-input" class="col-2 col-form-label" style="color:white">*Name</label>
    <div class="col-10">
      <input class="form-control workout-name" type="text" placeholder="Enter workout name" id="name-input">
    </div>
    <!-- start-->
    <div class="col">
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#program-meta" role="button" aria-expanded="false" aria-controls="program-meta">
          More Exercise General Setting
        </a>
      </p>
    </div>
  </div>
  <!-- end -->
  <div class="col">
      <label for="structure-input" class="col-2 col-form-label" style="color:white">Structure</label>
    <div class="col-10">
      <select class="form-control workout-type" id="structure-input">
        <option value="Program">Choose Structure</option>
        <option>Program</option>
        <option>Routine</option>
      </select>
    </div>
  </div>
</div>

<!--
<div class="form-group row">
  <div class="col-1"></div> 
  <div class="col">
    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#program-meta" role="button" aria-expanded="false" aria-controls="program-meta">
        More Exercise General Setting
      </a>
    </p>
  </div>
</div>
-->

<div class="collapse" id="program-meta">
  <div class="container bg-light rounded" style="padding: 2rem; margin-bottom: 2rem;">
      <div class="form-row">
        <div class="col">
          <label for="style-input">Styles</label>
          <input type="text" class="form-control workout-styles"  data-role="tagsinput" id="style-input" value="Bodybuilding,General Fitness,Powerlifting">
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col">
          <label for="level-input">Level</label>
          <select class="form-control workout-level" id="level-input">
            <option value="0" selected>Beginner</option>
            <option value="1">Intermediate</option>
            <option value="2">Advance</option>
          </select>
        </div>
        <div class="col">
          <label for="length-input">Length (in weeks)</label>
          <input type="number" class="form-control workout-length" style="display: inline-block" id="length-input" placeholder="4">
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col">
          <label for="goal-input">Goals</label>
          <input type="text" class="form-control workout-goals" data-role="tagsinput" id="goal-input" value="Build Strength, Build Muscle, Lose Weight, Conditioning">
        </div>
      </div>
      <br>
      <div class="form-group">
        <label for="info-input">General Information</label>
        <textarea class="form-control workout-desc" rows="5" id="info-input" placeholder="Enter info..."></textarea>
      </div>
  </div> 
</div>

<div class="container bg-light rounded text-dark" style="padding: 2rem">
  <div class="cycle-container" style="padding: 1rem; margin-bottom: 1rem">
    <div class="form-group row">
      <div class="col-1">
        <label for="cycleName-input" class="col-4 col-form-label">Cycle:</label>
      </div>
      <div class="col-3">
        <input class="form-control cycle-name" type="text" placeholder="Enter name or number" id="cycleName-input">
      </div>
      <div class="col-2">
        <input class="form-control cycle-length" type="number" placeholder="Enter duration" id="cycleLength-input">
      </div>
      <div class="col-1">
        <label for="cycleName-input" class="col-form-label">Weeks</label>
      </div>
      <button onclick="removeContainer(this)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="col-3">
      </div>
    </div>
    <div class="day-container" style="padding: 1rem; margin-bottom: 1rem">
      <div class="form-group row">
        <div class="col-1"></div>
        <div class="col-1">
          <label for="dayName-input" class="col-2 col-form-label">Day:</label>
        </div>
        <div class="col-3">
          <input class="form-control day-name" type="text" placeholder="Enter name or number" id="dayName-input">
        </div>
        <button onclick="removeContainer(this)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="col-3">
        </div>
      </div>
      <div class="exercise-container" style="padding: 1rem; margin-bottom: 1rem">
        <div class="form-group row">
          <div class="col-2"></div>
          <div class="col-1">
            <label for="exerciseName-input" class="col-form-label">*Exercise:</label>
          </div>
          <div class="col-4">
            <input class="form-control exercise-name" type="text" placeholder="Enter name" id="exerciseName-input">
          </div>
          <button onclick="removeContainer(this)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="col-3">
          </div>
        </div>    
        <div class="form-group row">
          <div class="col-3"></div>
          <div class="col-4">
            <label for="equipment-input" class="col-form-label">Equipment</label>
            <input class="form-control exercise-equipment"  type="text" data-role="tagsinput" value="Barbell,Dumbbell,Cable" id="equipment-input">
          </div>
          <div class="col-4">
            <label for="type-input" class="col-form-label">Type</label>
            <select class="form-control exercise-type" id="type-input">
                <option value="Normal">Choose type</option>
                <option value="Warmup">Warm Up</option>
                <option value="Normal">Workout Set</option>
              </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3"></div>
          <div class="col-4">
            <label for="exerciseLength-input" class="col-form-label">*Length</label>
            <input class="form-control exercise-length" type="text" placeholder="Enter duration" id="exerciseLength-input">
          </div>
          <div class="col-4">
            <label for="weight-input" class="col-form-label">*Weight</label>
            <input class="form-control exercise-weight" type="text" placeholder="Enter amount" id="weight-input">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3"></div>
          <div class="col">
            <p>
              <a class="btn btn-primary" data-toggle="collapse" href="#exercise-meta" role="button" aria-expanded="false" aria-controls="exercise-meta">
                More Exercise Setting
              </a>
            </p>
            <div class="collapse" id="exercise-meta">
              <div class="card card-body">
                  <div class="form-row">
                    <div class="col">
                      <label for="rpe-input">RPE:</label>
                      <input type="text" class="form-control exercise-rpe" id="rpe-input" placeholder="Enter RPE number">
                    </div>
                    <div class="col">
                      <label for="note-input">Note:</label>
                      <input type="text" class="form-control exercise-note" id="note-input" placeholder="Enter description">
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-2"></div>
        <div class="col">
          <button onclick="addExercise(this);reload_tagsinput()" class="btn btn-secondary">(+)Exercise</button>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-1"></div>
      <div class="col">
        <button onclick="addDay(this);reload_tagsinput()" class="btn btn-secondary">(+)Day</button>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <button onclick="addCycle(this);reload_tagsinput()" class="btn btn-secondary">(+)Cycle</button>
    </div>
  </div>
</div>

<!-- Exporting option -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal" style="margin-right: 1rem;">
  Done!
</button>






<button type="button" class="btn btn-success" onclick="get_workout(collect_workout())" data-toggle="modal" data-target="#Overview" style="margin-right: 2rem;">
  Review!
</button>

<div class="modal fade" id="Overview" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Review Your Workout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<div class="container" style="margin-top: 2rem">
			<div class="card">
				<h2 class="card-header text-center text-black" id="workoutName"></h2>
			<div class="card-body">
				<ul class="list-group">
					<li class="list-group-item"><b>Style:</b><p id="workoutStyles"></p></li>
					<li class="list-group-item"><b>Level:</b><p id="workoutLevel"></p></li>
					<li class="list-group-item"><b>Length:</b><p id="workoutLength"></p> weeks</li>
					<li class="list-group-item"><b>Goal:</b><p id="workoutGoals"></p></li>
					<li class="list-group-item"><b>Notes:</b><p id="workoutDesc"></p></li>
				</ul>
			</div>
			</div>
		</div>
	
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Before uploading to the server...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        We will record the selection of workout program. Please click "Upload your workout" to finish the progress...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="send_workout(collect_workout())">Upload your workout</button>
		<button type="button" class="btn btn-primary" onclick="review()">Review Workout</button>
		<a href="/overview" class="btn btn-primary" onclick="show_workout(collect_workout())">Review Your Workout!</a>	
      </div>
    </div>
  </div>
</div>


  <!-- JavaScript Implementation -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/addFunc.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dataFunc.js') }}"></script>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- bootstrap 4 tag input plugin -->
  <script src="{{ url_for('static', filename='js/tagsinput.js') }}"></script>
</body>
<script>
  $('.openBtn').on('click',function(){
      $('.modal-body').load('customize.html',function(){
          $('#myModal').modal({show:true});
      });
  });
  
  function review(){
	show_workout(collect_workout);
	window.location = "/overview/${workout}";
  }
  
  function get_workout(workout){
	//Workout Meta Data
	document.getElementById('workoutName').innerHTML=workout["name"];
	document.getElementById('workoutStyles').innerHTML=workout["styles"];
	document.getElementById('workoutLevel').innerHTML=workout["level"];
	document.getElementById('workoutLength').innerHTML=workout["length"];
	document.getElementById('workoutGoals').innerHTML=workout["goals"];
	document.getElementById('workoutDesc').innerHTML=workout["desc"];
	

	
  }
  
</script>
</html>
