{% extends "layout.html" %}
{% block css %}
/*background image setting*/
body
{
  background-image: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.2) ),url(/static/image/wallpaper9.jpg);
  background-size: 100% 100%;
}

.title
{
  color:white;
  text-align:center
}

.video
{
  text-align: center;
}
{% endblock %}
{% block content %}
<h1 class = "title">Exercise: {{ exercise["name"] }}</h1>
<h3 class = "title">Equipment: {{ ', '.join(exercise["equipment"]) }}</h3>

<div class = form-group>
  <div class = "col">
    <iframe width="550" height="400" src="{{ exercise['url'].replace('/watch?v=', '/embed/') }}" align="left"></iframe>
  </div>

  <div class = "col">
    <div class = "container bg-light rounded" style="max-width: 600px; float:right; padding: 1rem">
      <div class = "form-group">
        <h1 style = "text-align: center">Description:</h1>
      </div>
      <div class = "form-group">
        <ol>
            {% for note in exercise["notes"] %}
            <li>{{ note }}</li> 
            {% endfor %}
        </ol>    
      </div>
    </div>
  </div> <!-- end middle div -->
</div> <!-- end big div -->
{% endblock %}