<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body
{
  background-image: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.2) ),url({{ url_for("static", filename="image/wallpaper3.jpg") }});
  background-size: 100% 100%;
}

.form_bg {
      background-color:#eee;
      color:#666;
      padding:20px;
      border-radius:20px;
      position: absolute;
      border:1px solid #fff;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 320px;
      height: 350px;
  }
  .align-center {
      text-align:center;
  }
  
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">My Fitness Distributer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/index_how_to">How To</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
    </ul>
    {# <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> #}
  </div>
</nav>  

<div class="container">
    <div class="row">
        <div class="form_bg">
            <form>
                 <h2 class="text-center">Sign in</h2>
                <br/>
                <div class="form-group">
                    <input type="email" class="form-control" id="userid" placeholder="User id">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="pwd" placeholder="Password">
                </div>
                <br/>
                <div class="align-center">
                    <button type="submit" class="btn btn-default" id="login" style = "background-color: green; color:white">
                    <a href = "#" style="color:white">Login</a>
                  </button>
                </div>
                <br>
                <div class="align-center">
                    <button type="submit" class="btn btn-default" id="registerstyle" style = "background-color:#1a75ff; color:white"><a href = "index_register.html" style="color:white">Register</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
  </div>

</body>
</html>
