{% extends "layout.html" %}
{% block css %}
*,html,body /* '*'' means univerisal selector */
{
	margin:0;
	padding: 0;
}

header
{
	background-color:white;
	height: 90px;
	line-height:100px;
}

header li
{
	/* let the words be in one line*/
	display:inline-block;

	/*place the word to the right*/
	float: right;

	/* putting spaces between the options */
	padding-right: 25px; 
	
	/* set up the word format bold */
	font-weight: bold;
}


header i
{
	float:right;
	margin-top: 43px;
	margin-right: 30px;
}

body
{
	background-image: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.2) ),url({{ url_for("static", filename="image/wallpaper1.jpg") }});
	background-size: 100% 100%;
}

.info
{
	color: white;
}

section h2
{
	margin-top: 150px;
	font-weight: lighter;

}

section h2, section h4, section
{
	text-align: center;	
}

section a.btn-left
{
	background-color: deepskyblue;
	color:white;
}

section a.btn-right
{
	background-color: orange;
	color:white;
}
{% endblock %}
	
{% block content %} 
<section class = "info">
	<h2> Welcome to My Fitness Program Distributor </h2>
	<br> <h4> Let's find your fitness program!</h4>
	<br> <a href="/search" class="btn btn-left"> Choose your style</a>
	<a href="/customize" class="btn btn-right">Design your own</a>
</section>
{% endblock %}

