{% extends "layout.html" %}
{% block css %}
  * {
    box-sizing: border-box;
  }
  /* Add padding to containers */
  .container {
    padding: 16px;
    background-color: white;
  }
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  /* Set a style for the submit button */
  .submitbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .submitbtn:hover {
    opacity: 1;
  }
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 5%;">
  <form action="/register" method="POST">
    <div class="container" style = "max-width: 50%; max-height: 85%;">
      <label for="nickname"><b>Nickname</b></label>
      <input type="text" placeholder="Enter nickname" name="nickname" required>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter username" name="username" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button type="submit" class="submitbtn">Register</button>
    </div>
    
    <div class="container signin" style = "max-width: 50%; max-height: 8%;">
      <p>Already have an account? <a href="/login">Sign in</a>.</p>
    </div>
  </form>
</div>
{% endblock %}